* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid 100;
  padding: 20px;
}
